{
  "$schema": "node_modules/wrangler/config-schema.json",
  "name": "mailroute",
  "main": "src/index.ts",
  "compatibility_date": "2026-06-10",
  "workers_dev": true,
  "assets": {
    "directory": "admin/dist",
    "binding": "ADMIN_ASSETS"
  },
  "d1_databases": [
    {
      "binding": "D1_DATABASE",
      "database_name": "<YOUR_DATABASE_NAME>",
      "database_id": "<YOUR_D1_DATABASE_ID>"
    }
  ],
  "ratelimits": [
    {
      "name": "RATE_LIMITER",
      "namespace_id": "1003",
      "simple": {
        "limit": 20,
        "period": 60
      }
    }
  ],
  "vars": {
    "JWT_SECRET": "<YOUR_JWT_SECRET>"
  },
  "build": {
    "command": "npm run build:admin && npm run build"
  },
  "observability": {
    "enabled": false,
    "head_sampling_rate": 1,
    "logs": {
      "enabled": true,
      "head_sampling_rate": 1,
      "persist": true,
      "invocation_logs": true
    },
    "traces": {
      "enabled": false,
      "persist": false,
      "head_sampling_rate": 1
    }
  }
}
